<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= @issue.project.name %></title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <style>
    	body{
		    background-color: #dee9ff;
		}

		.registration-form{
			padding: 50px 0;
		}

		.registration-form form{
		    background-color: #fff;
		    max-width: 600px;
		    margin: auto;
		    padding: 50px 70px;
		    border-top-left-radius: 30px;
		    border-top-right-radius: 30px;
		    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.075);
		}

		.registration-form .form-icon{
			text-align: center;
		    background-color: #5891ff;
		    border-radius: 50%;
		    font-size: 40px;
		    color: white;
		    width: 100px;
		    height: 100px;
		    margin: auto;
		    margin-bottom: 50px;
		    line-height: 100px;
		}

		.registration-form .item{
			border-radius: 20px;
		    margin-bottom: 25px;
		    padding: 10px 20px;
		}

		.registration-form .create-account{
		    border-radius: 30px;
		    padding: 10px 20px;
		    font-size: 18px;
		    font-weight: bold;
		    background-color: #5791ff;
		    border: none;
		    color: white;
		    margin-top: 20px;
		}

		.registration-form .social-media{
		    max-width: 600px;
		    background-color: #fff;
		    margin: auto;
		    padding: 35px 0;
		    text-align: center;
		    border-bottom-left-radius: 30px;
		    border-bottom-right-radius: 30px;
		    color: #9fadca;
		    border-top: 1px solid #dee9ff;
		    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.075);
		}

		.registration-form .social-icons{
		    margin-top: 30px;
		    margin-bottom: 16px;
		}

		.registration-form .social-icons a{
		    font-size: 23px;
		    margin: 0 3px;
		    color: #5691ff;
		    border: 1px solid;
		    border-radius: 50%;
		    width: 45px;
		    display: inline-block;
		    height: 45px;
		    text-align: center;
		    background-color: #fff;
		    line-height: 45px;
		}

		.registration-form .social-icons a:hover{
		    text-decoration: none;
		    opacity: 0.6;
		}
		.registration-form input, select, textarea {
		    border-radius: 20px;
		    margin-bottom: 25px;
		    padding: 10px 20px;
		    display: block;
		    width: 100%;
		    padding: .375rem .75rem;
		    font-size: 1rem;
		    line-height: 1.5;
		    color: #495057;
		    background-color: #fff;
		    background-clip: padding-box;
		    border: 1px solid #ced4da;
		    border-radius: .25rem;
		    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
		}
		span.required {
 		   color: red;
		}

		.icon-del {
		  position: relative;
		  width: 20px;
		  height: 20px;
		  cursor: pointer;
		}

		.icon-del::before,
		.icon-del::after {
		  content: "";
		  position: absolute;
		  left: 9px;
		  top: 0;
		  width: 2px;
		  height: 20px;
		  background-color: red;
		  transition: background-color 0.3s;
		}

		.icon-del::before {
		  transform: rotate(45deg);
		}

		.icon-del::after {
		  transform: rotate(-45deg);
		}

		.icon-del:hover::before,
		.icon-del:hover::after {
		  background-color: darkred;
		}

		.icon-del:not(:has(svg)) { background-image: url(/delete.png); }
		@media (max-width: 576px) {
		    .registration-form form{
		        padding: 50px 20px;
		    }

		    .registration-form .form-icon{
		        width: 70px;
		        height: 70px;
		        font-size: 30px;
		        line-height: 70px;
		    }
		}
    </style>
</head>
<body>
    <%= yield %>
<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.15/jquery.mask.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/signature_pad@4.1.6/dist/signature_pad.umd.min.js"></script>
<%= javascript_importmap_tags %>
<%= javascript_heads %>
<%= heads_for_theme %>
<%= heads_for_i18n %>
<%= heads_for_auto_complete(@project) %>
<!-- page specific tags -->
<%= yield :header_tags -%>
<script>
document.addEventListener('DOMContentLoaded', function () {
  const canvas = document.getElementById('signature-canvas');
  if (!canvas) return;

  const ctx = canvas.getContext('2d');
  let drawing = false;
  const hiddenInput = document.getElementById('signature_data');

  // Set canvas styles
  ctx.strokeStyle = "#000";
  ctx.lineWidth = 2;
  ctx.lineCap = "round";

  const getMousePos = (e) => {
    const rect = canvas.getBoundingClientRect();
    return {
      x: e.clientX - rect.left,
      y: e.clientY - rect.top
    };
  };

  const getTouchPos = (e) => {
    const rect = canvas.getBoundingClientRect();
    return {
      x: e.touches[0].clientX - rect.left,
      y: e.touches[0].clientY - rect.top
    };
  };

  // Mouse Events
  canvas.addEventListener('mousedown', (e) => {
    drawing = true;
    const pos = getMousePos(e);
    ctx.beginPath();
    ctx.moveTo(pos.x, pos.y);
  });

  canvas.addEventListener('mousemove', (e) => {
    if (!drawing) return;
    const pos = getMousePos(e);
    ctx.lineTo(pos.x, pos.y);
    ctx.stroke();
  });

  canvas.addEventListener('mouseup', () => {
    drawing = false;
    updateSignatureData();
  });

  canvas.addEventListener('mouseleave', () => {
    if (drawing) {
      drawing = false;
      updateSignatureData();
    }
  });

  // Touch Events for mobile
  canvas.addEventListener('touchstart', (e) => {
    e.preventDefault();
    drawing = true;
    const pos = getTouchPos(e);
    ctx.beginPath();
    ctx.moveTo(pos.x, pos.y);
  });

  canvas.addEventListener('touchmove', (e) => {
    e.preventDefault();
    if (!drawing) return;
    const pos = getTouchPos(e);
    ctx.lineTo(pos.x, pos.y);
    ctx.stroke();
  });

  canvas.addEventListener('touchend', () => {
    drawing = false;
    updateSignatureData();
  });

  // Clear button
  document.getElementById('clear-canvas').addEventListener('click', function () {
    ctx.clearRect(0, 0, canvas.width, canvas.height);
    hiddenInput.value = '';
  });

  // Update the hidden input with base64 image
  function updateSignatureData() {
    const dataURL = canvas.toDataURL('image/png');
    hiddenInput.value = dataURL;
  }
});
</script>
</body>
</html>
